body {
    font-family: 'Bodoni Moda', serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#body-novice,
#welcome-page {
    margin-top: 20px;
}

#header-main {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 20px;
    line-height: 10px;
    background-color: white;
}

.canvas {
    font-family: 'Bodoni Moda', serif;
    font-style: italic; 
}

header {
    text-align: center;
}

.header-novice, .header-proficient, .header-maestro {
    width: 600px;
    height: 80px;
    line-height: 10px;
    margin-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
    margin: 0 auto;
}

.header-novice, 
#header-novice-main, 
.header-proficient,
.header-maestro {
    background-image: url(../assets/petals.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: left;
}

#header-novice-main, 
#header-proficient-main,
#header-maestro-main {
    background-image: url(../assets/pink.png), url(../assets/petals.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-width: 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    line-height: 10px;
    background-color: white;
}

#count-down {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-bottom-width: 1px;
    border-radius: 10px;
    width: 200px;
    padding: 3px;
    text-align: center;
}

#total-moves {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-bottom-width: 1px;
    border-radius: 10px;
    width: 120px;
    padding: 3px;
    text-align: center;
    margin-right: 20px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    width: 800px;
    height: 800px;
    margin: auto;
    perspective: 1000px;
    background-image: url(../assets/poppy-flower.jpg);
    background-size: cover;
    background-position: center center;
}


.card {
    margin: 10px;
    cursor: pointer;
    width: 150px;
    height: 200px;
    border-radius: 7px;
    border: 1px solid #c3c3c3;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .7s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.front, .back {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    position: absolute;
    background: white;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

img {
    width: 150px;
}

.card.flipped { 
    transform: rotateY(180deg);
}

.novice-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 800px;
    margin: 0 auto;
}


p {
    text-align: center;
}


#difficulty {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-top: 100px;
    background-color: white;
}


.level:last-child {
    margin-right: 0;
}

.level {
    display: inline;
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    margin-right: 20px;
}

#reset {
    font-family: 'Bodoni Moda', serif;
    font-size: 15px;
    color: black;
    margin: 30px;
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    height: 60px;
    outline: none;
    background: none;
    padding: 0;
}

#reset:hover {
    color: white;
    background-color: black;
}

button a {
    text-decoration: none;
    color: black;
    }

button:hover {
    background-color: black;
    cursor: pointer;
}
button:hover a {
    color: white;
}

#welcome-page {
    background-image: url(../assets/red.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.recollections {
    text-decoration: none;
    color: black;
}

/* @media screen and (max-width: 390px) and (max-height: 844px) { */
@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
        margin-top: 0;
    }

    #body-novice,
    #welcome-page {
        margin-top: 5px;
    }

    .board {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
    }

    .card {
        height: 90px;
        width: 70px;
        position: relative;
        margin: 5px;
    }

    #reset {
        font-size: 10px;
        padding: 3px;
        margin: 10px;
    }

    #header-novice-main,
    .novice-info-container {
        width: 400px;
        /* width: 100%; */
        margin: 0 auto;
    }

    .header-novice, .header-proficient, .header-maestro {
        width: 400px;
        /* width: 100%; */
        margin-top: 5px;
    }

    .front, .back {
        width: 70px;
        height: 90px;
        position: absolute;
        margin: 0 auto;
    }

    #header-novice-main, 
    #header-proficient-main,
    #header-maestro-main,
    #header-main {
        /* width: 100%; */
        width: 400px;
    }

    #total-moves {
        margin-right: 1px;
        width: 100px;
    }

    #count-down {
        width: 170px;
        margin-left: 1px;
    }
}